html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
  padding-top: 13%;
}
header div {
  margin-bottom: 12%;
  padding-top: 10%;
}
header div p {
  font-size: 1.6rem;
  margin-bottom: 1%;
}
header div h1 {
  font-size: 8.8rem;
}
header div h1:nth-of-type(1) {
  margin-bottom: -2.5%;
}
header div h1:nth-of-type(2) {
  margin-bottom: 1.5%;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: black;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-left: 12%;
  margin-right: 12%;
}
header nav button {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 0.5% 2.5%;
  font-size: 2rem;
}
/* Main */
.landkarte {
  background-color: black;
  color: white;
  background-image: url(../img/map.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 40%;
  padding: 10% 10% 15% 5%;
}
.landkarte h2 {
  font-size: 5.5rem;
  margin-bottom: 10%;
  width: 70%;
  font-weight: 600;
  line-height: 113px;
  margin-left: 100px;
}
.landkarte div {
  margin-bottom: 6%;
  margin-left: 100px;
}
.landkarte div p {
  font-size: 1rem;
}
.landkarte div h4 {
  font-size: 4rem;
}
section {
  background-color: white;
  color: black;
  position: relative;
  padding: 10% 10% 10% 5%;
}
section img {
  width: 300px;
  height: 200px;
}
.stuck {
  margin: 15% 0 30% 30%;
  width: 43%;
}
.stuck h2 {
  font-size: 8.8rem;
  line-height: 70%;
  margin-bottom: 7%;
  margin-top: 45%;
  width: 80%;
}
.stuck p {
  font-size: 1.6rem;
  line-height: 190%;
  width: 75%;
}
.picDruckmaschine {
  position: absolute;
  width: 300px;
  height: 200px;
  right: 160px;
  top: -80px;
}
.picDruck {
  position: absolute;
  width: 240px;
  height: 160px;
  left: 30px;
  top: 210px;
}
.picBedShirt {
  position: absolute;
  width: 240px;
  height: 160px;
  left: 83.3%;
  top: 580px;
}
.picShirts {
  position: absolute;
  width: 300px;
  height: 200px;
  left: calc(50% - 200px - 250px);
  top: 900px;
}
.picFarbbad {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 65%;
  top: 1000px;
}
.picDruckmuster {
  position: absolute;
  width: 240px;
  height: 160px;
  left: 0px;
  top: 1325px;
}
.shirts {
  margin: 60% 0 10% 30%;
  width: 32%;
  font-size: 1.6rem;
  line-height: 190%;
}
.picGuys {
  position: absolute;
  width: 300px;
  height: 200px;
  right: 450px;
  top: 1680px;
  z-index: 1;
}
.goldenBear {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goldenBear div {
  margin: 0 7% 0 5%;
  width: 45%;
}
.small {
  font-size: 1.6rem;
}
.goldenBear div h2 {
  font-size: 8.8rem;
}
.middle {
  font-size: 3.2rem;
}
.black {
  background-color: black;
  padding: 10% 10% 10% 5%;
  color: white;
}
/* Footer */
.footer {
  width: 49%;
}
.footer p {
  font-size: 1.6rem;
  margin-bottom: 4%;
}
.footer h3 {
  font-size: 3.2rem;
  margin-bottom: 4%;
}
.footer button {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 0.5% 2.5%;
  font-size: 2rem;
  margin: 0 5% 15% 0;
}
.footerImg {
  margin-left: 63%;
}